body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #282828;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    border-radius: 15px;
    padding: 15px;
    gap: 1px;
    /* background-color: aliceblue; */
    max-width: 800px;
    min-height: 300px;
    max-height: 400px;
}

h2 {
    font-size: 28px;
    padding-bottom: 8px;
    color: #fff;
    margin: 0;
}

h3 {
    font-size: 18px;
    color: #ccc;
    margin: 0;

    & #last-letter {
        font-size: 24px;
        color: #fff;
    }
}

p {
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    color: #ffffff88;
    opacity: 0.8;
    margin: 0;
    transition: color 150ms ease-in-out;
}

#timer-container {
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 10px;
    left: 15px;
    gap: 5px;

    & button {
        font-size: 15px;
        background-color: #505050;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 200ms ease-in-out, scale 100ms ease-in-out;

        &:hover {
            background-color: #606060;
        }

        &:active {
            scale: 0.9;
        }
    }
}

#github {
    position: fixed;
    top: 12px;
    right: 12px;
    transition: scale 200ms ease-in-out;
    
    &:hover {
        scale: 1.1;
    }
}

.active {
    color: #ffffff;
}

.correct {
    color: #8aff9e;
}

.error {
    color: #ff7272;
}

.space {
    color: #282828;
}
